/* Resets Styles */
* {
    padding: 0;
    margin: 0;
}

#video {
    display: none;
    margin: 1%;
}

#place-holder {
    display: block;
    margin: 1%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5%;
}